@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth
}


img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

body {
  background-color: #F8F8F8;
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 8rem 0px;
}